.metrics {
  margin-bottom: 20px;
  background-color: transparent;
}

.metrics .header {
  margin-top: 20px;
  color: #818181;
  font-size: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 700;
}

.metrics .value {
  text-align: center;
  font-size: 120%;
}

.search {
  margin-top: 20px;
  width: 100%;
}

.dropdown-menu>li>a {
  font-size: 120%;
}

/* Extra small devices (991px and down) */
@media (max-width: 991px) {

}