.metrics {
  background-color: transparent;
}

.metrics .header {
  margin-top: 20px;
  color: #818181;
  font-size: 100%;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 500;
}

.metrics .value {
  font-size: 140%;
  font-weight: 500;
}

/* Extra small devices (991px and down) */
@media only screen and (max-width: 992px) {

}