<!DOCTYPE html>

<html>
  <head>
      <title>c12y service</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="../style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
      <div class="container">
        <h2>c12y</h2>
        <ul>
          <li>c12y.com<a href="/api/watchlist">/api/watchlist</a></li>
          <li>c12y.com<a href="/api/coin/btc">/api/coin/btc</a></li>
          <li>c12y.com<a href="/api/all/1">/api/all/1</a></li>
          <li>c12y.com<a href="/api/gainers">/api/gainers</a></li>
          <li>c12y.com<a href="/api/losers">/api/losers</a></li>
        </ul>
      </div>
  </body>
</html>