{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": false,
        "codeFrame": false,
        "ecmaVersion": 11
    },
    "extends": [
        "airbnb-base",
        "prettier"
    ],
    "env": {
        "node": true,
        "jest": true
    },
    "plugins": ["prettier"],
    "rules": {
        "import/first": 0,
        "import/extensions": ["error", { "js": "always" }],
        "import/prefer-default-export": 0,
        "semi": 0,
        "no-underscore-dangle": ["error", { "allow": ["_id", "_start", "_end", "_sort", "_order"]}],
        "prettier/prettier": "error"
    }
}