.Overview .icon {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.Overview .details {
  padding: 10px 0;
  font-size: 140%;
}

.Overview .title {
  color: #818181;
  font-size: 70%;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: 700;
  margin: 0 0 4px 0;
}

.Overview .value {
  margin: 0 0 18px 0;
}

/* Extra small devices (991px and down) */
@media (max-width: 991px) {
  .Overview .icon {
    width: 200px;
  }
}