.CoinItem .list {
  line-height: 80px;
}

.CoinItem .header {
  background-color: rgb(212, 195, 97);
  font-weight: 700;
  line-height: 40px;
  font-size: 120%;
  text-align: center;
}

.CoinItem .counter {
  background-color: rgb(212, 195, 97);
  font-size: 120%;
  font-weight: 700;
  text-align: center;
}

.CoinItem .icon {
  background-color: #fff;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.CoinItem .name {
  font-size: 120%;
}

.CoinItem .price {
  font-size: 100%;
  text-align: center;
}

.CoinItem .supply {
  font-size: 100%;
  text-align: center;
}

.CoinItem .volume {
  font-size: 100%;
  text-align: center;
}