.CoinItem .list {
  margin-bottom: 4px;
  padding: 18px 0;
  background-color: #f8f8f8;
  border-bottom: 1px solid rgba(129, 129, 129, 0.205);
  border-radius: 10px;
  transition: background-color 0.2s;
  text-align: center;
  overflow-wrap: break-word;
}

.CoinItem .list:hover {
  background-color: #ececec;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 4px 3px -3px #777;
}

.CoinItem .header {
  padding: 10px 0;
  color: #818181;
  font-size: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 700;
  border-bottom: 1px solid #818181;
}

.CoinItem .counter {
  font-size: 160%;
}

.CoinItem .icon img {
  width: 60px;
  height: 60px;
}

.CoinItem .name {
  font-size: 120%;
}

.CoinItem .price {
  font-size: 120%;
}

.CoinItem .supply {
  font-size: 120%;
}

.CoinItem .volume {
  font-size: 120%;
}

/* Extra small devices (991px and down) */
@media (max-width: 991px) {
  .CoinItem .list {
    text-align: left;
  }

  .CoinItem .header {
    text-align: left;
  }

  .CoinItem .price {
    font-size: 120%;
  }

  .CoinItem .supply {
    font-size: 120%;
  }

  .CoinItem .volume {
    font-size: 120%;
  }
}
