.Wallets .header {
  padding: 10px 0;
  color: #818181;
  font-size: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: 700;
  border-bottom: 1px solid #818181;
}

.Wallets .list {
  padding: 10px 0;
  border-bottom: 1px solid rgba(129, 129, 129, 0.205);
  text-align: center;
}

.Wallets .counter {
  font-size: 160%;
}

.Wallets .name {
  font-size: 120%;
}

.Wallets .description {
  font-size: 120%;
  text-align: left;
}

/* Extra small devices (991px and down) */
@media (max-width: 991px) {
  .Wallets .list {
    text-align: left;
  }

  .Wallets .header {
    text-align: left;
  }
}