.viewTopCoins {
  padding: 18px 0;
  background-color: #329239;
  color: #fff;
  border-radius: 0 0 4px 4px;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color .2s;
  font-size: 160%;
  text-align: center;
  font-weight: 600;
}

.viewTopCoins:hover {
  background-color: #469c4c;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color .2s;
}

.viewTopCoins:active {
  background-color: #5AA760;
}

.viewTopCoins p {
  margin: 0;
}